body {
  font: 14px / 17px system-ui, sans-serif;
  margin: 1rem;

  h3 {
    margin: 1rem 0 0.2rem 0;
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }

  a[target]::before, a.internalLink::before, a.externalLink::before {
    color: rgba(0, 0, 238, 0.7);
    font-size: 1.1rem;
    padding-right: 2px;
    vertical-align: baseline;
  }

  a[target="_blank"]::before, a.externalLink::before {
    content: "↗";
  }

  a[data-top]::before, a.internalLink::before, a[target="_top"]::before {
    content: "↺";
  }

  .hidden {
    display: none;
  }

  .err {
    font-style: italic;
    color: red;
  }

  .container {
    inset: 0;
    position: absolute;
    padding-bottom: 50rem;

    & [popover] {
      box-shadow: 2px 2px 8px #999;
      padding: 2rem;
      border-color: white;
      border-radius: 50%;
      font-size: larger;

      div {
        text-align: center;
        margin-top: 1rem;
      }

      ul {
        margin: 1rem 0 0 -1rem;
        li {
          margin-top: 0.2rem;
          font: revert;
          padding: 0 5px;
          list-style: "✓";

          &:last-child {
            padding-bottom: revert;
          }
        }
      }
    }

    .ok b, .ok i {
      color: green;
    }

    .testErr b, .testErr i {
      color: red;
    }

    code:not(.language-javascript) {
      background-color: rgb(227, 230, 232);
      color: rgb(12, 13, 14);
      padding: 2px 4px;
      display: inline;
      border-radius: 4px;
      margin: 1px 0;
    }

    .arrowToTop {
      cursor: pointer;
      position: fixed;
      top: 2rem;
      padding-top: 4px;
      text-align: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: no-repeat center 8px url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg width="800px" height="800px" viewBox="0 0 24.000001 24.000001" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><filter id="a" color-interpolation-filters="sRGB" height="1.39486" width="1.311082" x="-.155541" y="-.19743"><feGaussianBlur stdDeviation="1.2313672" /></filter><g transform="matrix(.96344673 0 0 .96344673 -123.36427 -955.289756)"><path d="m132.5 995.4062c-.831 0-1.5 1.5-1.5 1.5s.669 1.5 1.5 1.5h7.6875c-.25613.088-.47997.2851-.59375.5313l-3 6c-.2396.5108.0576 1.1992.59375 1.375l1.8125.625v2.4375c.00005.5236.47642 1 1 1h1c.52358 0 .99995-.4764 1-1v-2.4375l1.8125-.625c.53611-.1758.83335-.8642.59375-1.375l-3-6c-.13219-.2754-.39056-.4647-.6875-.5313h7.78125c.831 0 1.5-1.5 1.5-1.5s-.669-1.5-1.5-1.5z" filter="url(%23a)" opacity=".2" /><path d="m140.3125 997.375c-.31022.06-.58621.2757-.71875.5625l-3 6c-.2396.5108.0576 1.1992.59375 1.375l1.8125.625v2.4375c.00005.5236.47642 1 1 1h1c.52358 0 .99995-.4764 1-1v-2.4375l1.8125-.625c.53611-.1758.83335-.8642.59375-1.375l-3-6c-.17625-.3672-.59466-.6026-1-.5625-.0312-.001-.0625-.001-.0937 0z" /><path d="m140.5 998.375-3 6 2.5.8437v3.1563h1v-3.1563l2.5-.8437z" fill="%23fefefe" /><g transform="rotate(-90)"><rect height="18.999969" rx="1.43934" ry="1.5" width="3.049988" x="-997.41217" y="131.00003" /><path d="m-996.41217 132.00003h1v16.999969h-1z" fill="%23fefefe" /></g></g></svg>');
      background-size: 34px;
      box-shadow: 2px 2px 8px #999;
    }

    [data-filtered="1"]:after {
      content: "Display all";
    }

    [data-filtered="0"]:after {
      content: "Display failed only";
    }

    #log2screen {
      position: relative;
      margin: 0 auto;
      padding-bottom: 100rem;
      max-width: 800px;

      li {
        margin-top: 0.1rem;
        font: revert;
        font-size: 1.1em;
        line-height: 1.5rem;
        padding: 0 5px;
        margin-left: -1.2rem;
        list-style: "✓";

        .testResult {
          margin: 0 0 0.4rem 1rem;

        }

        ul {
          margin: 0;
          li {
            margin-top: 0.1rem;
            font: revert;
            padding: 0 5px;
            margin-left: -1.2rem;

            &:last-child {
              padding-bottom: revert;
            }
          }
        }

        ul.notes li {
          margin-left: -2rem;
          line-height: 1.5rem;
        }

        &:last-child {
          padding-bottom: 100rem;
        }

        &.head {
          list-style-type: none;
          font-weight: bold;
          margin: 0.8rem 0 0 -2rem;
          font-family: revert;

          code.language-javascript {
            background-color: revert;
            color: revert;
          }

          .normal {
            line-height: 1.3rem;
            font-weight: normal;
            margin: 12px 0 6px;
            color: rgb(69, 104, 161);
            padding: 0 0 0.2em 1.2rem;
            border-bottom: 1px dotted #777;

            b {
              color: rgb(179, 21, 55);
            }
          }

          .center {
            text-align: center;
          }

          .normal[data-content-text], [data-to-top] {
            b:first-child {
              cursor: pointer;
              &:hover {
                background-color: lightgoldenrodyellow;
              }
            }
          }

          .normal.noborder {
            border-bottom: none;
          }

          .normal.top {
            margin-left: -0.5rem;
            padding-bottom: 1.5rem;
            a {
              font-weight: normal;
              &:hover {
                text-decoration: none;
                border-bottom: 1px dotted #777;
              }
            }
          }
        }
      }
    }
  }
}
